image_width: 1920
image_height: 1080
camera_name: narrow_stereo
camera_matrix:
  rows: 3
  cols: 3
  data: [1344.84629,    0.     ,  863.29485,
            0.     , 1346.05005,  527.80321,
            0.     ,    0.     ,    1.     ]
distortion_model: plumb_bob
distortion_coefficients:
  rows: 1
  cols: 5
  data: [-0.045270, -0.032168, 0.002870, -0.017651, 0.000000]
rectification_matrix:
  rows: 3
  cols: 3
  data: [1., 0., 0.,
         0., 1., 0.,
         0., 0., 1.]
projection_matrix:
  rows: 3
  cols: 4
  data: [1272.84045,    0.     ,  808.79575,    0.     ,
            0.     , 1341.13538,  529.29208,    0.     ,
            0.     ,    0.     ,    1.     ,    0.     ]
